<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro de Talhão</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="talhaoForm">
    <ion-item>
      <ion-label position="floating">ID</ion-label>
      <ion-input formControlName="id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input formControlName="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Localidade</ion-label>
      <ion-input formControlName="localidade"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-textarea formControlName="descricao"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cultura</ion-label>
      <ion-input formControlName="cultura"></ion-input>
    </ion-item>

  </form>
</ion-content>
