<ion-app>
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content" type="overlay">
      <ion-content>

        <ion-list>
          <ion-list-header>Manejo</ion-list-header>
          <ion-note>Cuidado inteligente</ion-note>

          <!-- HOME -->
          
            <ion-item routerLink="/home" lines="none">
              <ion-icon slot="start" ios="home-outline" md="home-sharp"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>

            <ion-item routerLink="/empresa" lines="none">
              <ion-icon slot="start" ios="person-outline" md="home-sharp"></ion-icon>
              <ion-label>Perfil</ion-label>
            </ion-item>

          
          <ion-accordion-group>

            <!-- CADASTROS -->

            <ion-accordion value="cadastros">

              <ion-item slot="header">
                <ion-icon slot="start" ios="folder-outline" md="folder-sharp"></ion-icon>
                <ion-label>Cadastros</ion-label>
              </ion-item>

              <div slot="content">

                <ion-menu-toggle auto-hide="false">
                  <ion-item routerLink="/produtos" lines="none">
                    <ion-label>Produtos</ion-label>
                  </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle auto-hide="false">
                  <ion-item routerLink="/clientes" lines="none">
                    <ion-label>Entidade</ion-label>
                  </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle auto-hide="false">
                  <ion-item routerLink="/talhao" lines="none">
                    <ion-label>Talhão</ion-label>
                  </ion-item>
                </ion-menu-toggle>

              </div>

            </ion-accordion>

            <!-- pesquisa -->

             <ion-accordion value="pesquisa">

              <ion-item slot="header">
                <ion-icon slot="start" ios="folder-outline" md="folder-sharp"></ion-icon>
                <ion-label>Consultas</ion-label>
              </ion-item>

              <div slot="content">

                <ion-menu-toggle auto-hide="false">
                  <ion-item routerLink="/produtos-pesq" lines="none">
                    <ion-label>Produtos</ion-label>
                  </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle auto-hide="false">
                  <ion-item routerLink="/clientes" lines="none">
                    <ion-label>Entidade</ion-label>
                  </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle auto-hide="false">
                  <ion-item routerLink="/talhao" lines="none">
                    <ion-label>Talhão</ion-label>
                  </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle auto-hide="false">
                  <ion-item routerLink="/painel-talhao" lines="none">
                    <ion-label>Painel Talhão</ion-label>
                  </ion-item>
                </ion-menu-toggle>

              </div>

            </ion-accordion>

            <!-- Aplicaçoes -->

             <ion-accordion value="aplicacoes">
              
              <ion-item slot="header">
                <ion-icon slot="start" ios="folder-outline" md="folder-sharp"></ion-icon>
                <ion-label>Aplicaçoes</ion-label>
              </ion-item>

              <div slot="content">

                <ion-menu-toggle auto-hide="false">
                  <ion-item routerLink="/viabilidade-tools" lines="none">
                    <ion-label>Dados</ion-label>
                  </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle auto-hide="false">
                  <ion-item routerLink="/viabilidade" lines="none">
                    <ion-label>Viabilidade</ion-label>
                  </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle auto-hide="false">
                  <ion-item routerLink="/agenda-aplicacao" lines="none">
                    <ion-label>Agenda Aplicaçao</ion-label>
                  </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle auto-hide="false">
                  <ion-item routerLink="/clientes" lines="none">
                    <ion-label>Nova Aplicaçaos</ion-label>
                  </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle auto-hide="false">
                  <ion-item routerLink="/talhao" lines="none">
                    <ion-label>Historico</ion-label>
                  </ion-item>
                </ion-menu-toggle>

              </div>

            </ion-accordion>
            
            <!-- Fincanceiro -->

            <ion-accordion value="financeiro">

              <ion-item slot="header">
                <ion-icon slot="start" ios="folder-outline" md="folder-sharp"></ion-icon>
                <ion-label>Financeiro</ion-label>
              </ion-item>

              <div slot="content">

                <ion-menu-toggle auto-hide="false">
                  <ion-item routerLink="/viabilidade" lines="none">
                    <ion-label>Custos</ion-label>
                  </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle auto-hide="false">
                  <ion-item routerLink="/clientes" lines="none">
                    <ion-label>Perdas</ion-label>
                  </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle auto-hide="false">
                  <ion-item routerLink="/balanco" lines="none">
                    <ion-label>Balanço</ion-label>
                  </ion-item>
                </ion-menu-toggle>

              </div>

            </ion-accordion>

            <!-- Avaliaçoes -->

            <ion-accordion value="Avaliacao">

              <ion-item slot="header">
                <ion-icon slot="start" ios="folder-outline" md="folder-sharp"></ion-icon>
                <ion-label>Avaliações</ion-label>
              </ion-item>

              <div slot="content">

                <ion-menu-toggle auto-hide="false">
                  <ion-item routerLink="/avaliacao" lines="none">
                    <ion-label>Nova Avaliação</ion-label>
                  </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle auto-hide="false">
                  <ion-item routerLink="/avaliacao-his" lines="none">
                    <ion-label>Historico de Avaliação</ion-label>
                  </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle auto-hide="false">
                  <ion-item routerLink="/talhao" lines="none">
                    <ion-label>Nivel de Insfestação</ion-label>
                  </ion-item>
                </ion-menu-toggle>

              </div>

            </ion-accordion>
          </ion-accordion-group>

        </ion-list>

      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>
